extends layout

block content
	h1 Magellan's Voyage!

	if !location
		p Magellan did not travel Here.

	else if location.name === 'Philippines'
		h2 Welcome to #{location.name}!
		p This is the last stop!
		img(src=location.image)

	else if location.name
		h2 Welcome to #{location.name}!
		a(href="/locations/#{location.slugNext}") Next Stop #{location.next}
		p
		img(src=location.image)
